.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear;
    color: #2d2d2d;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px;
}
.media.post_item {
    display: flex;
    align-items: flex-start;
}
.blog_right_sidebar .popular_post_widget .post_item+.post_item {
    margin-top: 20px;
}