.back-to-top {
    bottom: 30px;
    position: fixed;
    right: 30px;
    z-index: 99;
    background: #ED078B;
    height: 50px;
    width: 50px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108,98,98,0.2);
}

.back-to-top svg {
    font-size: 24px !important;
    border-radius: 50% !important;
    padding: 0px !important;
    background: #ED078B !important;
    color: #fff;
    
}